.side_menu_profile{
    width: 100%;
    height: 650px;
    background-color: #fff;
    position: absolute;
    top: -100px;
}
.div-form{
    background-color: #ffffff;
    display: inline-block;
    width: 350px;
    height: 100px;
    padding-left:65px;
    padding-right: 45px;
    border-radius:5px;
    margin-top: 30px;
    margin-left: 40px;
}
h2{
    font-family: 'Segoe UI';
    padding: 10px 0px;
    color: #010020;
    font-size: 25px;
    line-height: 30px;
    font-weight: 550;
    font-style: normal;
}
.div-input{
    display: flex;
    align-items: center;
    height: 20px;
    width: 300px;
    padding: 10px;
    border: 1px solid #d2deee;
    border-radius: 5px;
    background-color: #f8f8f8;
}
input{
    background: none;
    outline: none;
    border: none;
    width: 300px;
    padding-left: 20px;
 }
 .icon{
     color: #010020;
 }
 input::placeholder{
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
 }
.signup{
    background-color: #e04f9e;
    border: 1px solid #e04f9e;
    color: #fbf8fa;
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.signup:hover{
    background-color:#010020;
    border: 1px solid #010020;
}

label{
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 5px;
}
h1{
    font-family: 'Segoe UI';
    padding: 10px 0px 0px 0px;
    color: #010020;
    /* font-size: 20px;
    line-height: 30px;
    font-weight: 450;
    font-style: normal; */
}


