*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#181818;
}
img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.div-form{
    background-color: #ffffff;
    display: inline-block;
    width: 350px;
    height: 1010px;
    padding-left:65px;
    padding-right: 45px;
    border-radius:5px;
    margin-top: 30px;
    margin-left: 40px;
}
h2{
    font-family: 'Segoe UI';
    padding: 10px 0px;
    color: #010020;
    font-size: 25px;
    line-height: 30px;
    font-weight: 550;
    font-style: normal;
}
.div-input{
    display: flex;
    align-items: center;
    height: 20px;
    width: 300px;
    padding: 10px;
    border: 1px solid #d2deee;
    border-radius: 5px;
    background-color: #f8f8f8;
}
input{
    background: none;
    outline: none;
    border: none;
    width: 300px;
    padding-left: 20px;
 }
 .icon{
     color: #010020;
 }
 input::placeholder{
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
 }
span{
    color: #1958ff;
}
.signup{
    background-color: #e04f9e;
    border: 1px solid #e04f9e;
    color: #fbf8fa;
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.signup:hover{
    background-color:#010020;
    border: 1px solid #010020;
}
.hr{
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
}
label{
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 30px;
}

p{
    padding: 20px 0px;
}
a{
    text-decoration: none;
    /* color: #fff; */
    font-size: 16px;
    line-height: 24px;
    font-family: 'Segoe UI';
}
.sign_in{
    background-color: #010020;
    border: 1px solid #010020;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sign_in a{
    color: #fbf8fa;
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    font-style: normal;
}
.sign_in:hover{
    background-color: #e04f9e;
    border: 1px solid #e04f9e;
    }
/* .signin{
    background-color: #010020;
    border: 1px solid #010020;
    color: #fbf8fa;
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.signin:hover{
background-color: #d55d02;
border: 1px solid #d55d02;
} */
.div-footer{
    background-color: #181818;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-style: normal;
    width: 350px;
    padding-left:65px;
    line-height: 22px;
    border-radius:5px;
    margin-top: 5px;
    margin-left: 40px;
}
